# yaml-language-server: $schema=https://www.schemastore.org/traefik-v3.json
log:
  level: INFO
api:
  dashboard: true
  insecure: true
  debug: false
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          scheme: https
          to: websecure
  websecure:
    address: ":443"
    asDefault: true
serversTransport:
  insecureSkipVerify: true
providers:
  docker: 
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false
    network: proxy
  file:
    directory: /etc/traefik
    watch: true
certificatesResolvers:
  letsencrypt:
    acme:
      email: "stefburgoyne@gmail.com"
      storage: /letsencrypt/acme.json
      caServer: "https://acme-v02.api.letsencrypt.org/directory"
      dnsChallenge:
        provider: cloudflare
        # delayBeforeCheck: 5