# Use root/example as user/password credentials

services:

  db:
    image: mariadb
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
      MARIADB_DATABASE: wordpress
      MARIADB_USER: wordpress
      MARIADB_PASSWORD_FILE: /run/secrets/db_password
    secrets:
      - db_root_password
      - db_password

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

secrets:
   db_password:
     file: db_password.txt
   db_root_password:
     file: db_root_password.txt